article{
	display: grid;
	grid-template-columns: 30% 40% auto 30%;
}

/* ========== Puzzle Grid Section ========== */
.puzzle{
	display: grid;
	grid-template-columns: repeat(3, 11vw);
	align-items: stretch;
	
	place-self: center;
	grid-column: 2 / 3;
	
	border: 2px solid black;
	
	width: 33vw;
	height: 33vw;
}

.nonet{
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
	align-items: stretch;
	
	border: 1px solid black;
}

.square{
	border: 1px solid black;
	
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: monospace;
}

/* ========== Number Selectors Section ========== */
.number-selectors{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	justify-self: start;
	
	height: 33vw;
}

.selector{
	width: 3vw;
	height: 3vw;
	
	font-size: 20px;
	font-family: monospace;
}

.active-selector{
	background-color: yellow;
}

/* ========== Controls Section ========== */
.controls{
	grid-column: 2 / 4;
	justify-self: center;
}

.controls button{
	margin: 15px;
	
	width: 5vw;
	height: 50px;
	
	font-size: 15px;
	font-family: monospace;
}

/* ========== Submit Message Section ========== */
.submit-msg{
	margin: 5px;
	
	grid-column: 2 / 3;
	justify-self: center;
	
	font-size: 25px;
	font-family: monospace;
}