article{
	display: grid;
	grid-template-columns: 30% 40% 20% 30%;
}

/*Puzzle Section*/
.puzzle{
	display: grid;
	grid-template-columns: repeat(3, 11vw);
	align-items: stretch;
	
	place-self: center;
	grid-column: 2 / 3;
	
	border: 2px solid black;
	
	width: 33vw;
	height: 33vw;
}

.nonet{
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	align-items: stretch;
	
	border: 1px solid black;
}

.square{
	border: 1px solid black;
	
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: monospace;
}

/*Number Selectors Section*/
.number-selectors{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	justify-self: start;
	
	height: 33vw;
}

.selector{
	width: 3vw;
	height: 3vw;
}

.active-selector{
	background-color: yellow;
}

/*Controls Section*/
.controls{
	margin: 10px;
	
	grid-column: 2 / 3;
	justify-self: center;
}

/*Submit Message Section*/
.submit-msg{
	margin: 10px;
	
	grid-column: 2 / 3;
	justify-self: center;
	
	font-size: 25px;
	font-weight: bold;
	font-family: monospace;
}